html, body {
  overflow-x: hidden;
  color: black;
  font-family: "Arial", cursive;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px;
}

.FUENTE {
  font: 40px "Arial", cursive;
}

.btn-flotante {
  display: block;
  width: 50px;
  height: 50px;
  columns: #fcfbfb;
  position: fixed;
  Left: 20px;
  bottom: 800px;
  top: 260px;
  border-radius: 10%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

.btn-flotante1 {
  display: block;
  width: 70px;
  height: 70px;
  color: #ffffff;
  position: fixed;
  Left: 20px;
  text-align: center;
  top: 290px;
  margin-left: 60px;
  z-index: 999;
}

.btn-flotante12 {
  display: block;
  background-color: rgba(10, 10, 10, 0.534);
  font: 20px "Arial";
  width: 500px;
  height: 550px;
  color: #ffffff;
  position: fixed;
  Left: 20px;
  text-align: center;
  top: 40px;
  z-index: 999;
}

.btn-flotante3 {
  display: block;
  background-color: rgb(12, 12, 12);
  width: 0px;
  height: 0px;
  columns: #fcf9f9;
  position: fixed;
  Left: 80px;
  text-align: center;
  top: 40px;
  z-index: 999;
}

.video {
  width: 1000px;
  border-radius: 1%;
  height: 500px;
}

.btn-flotante4 {
  display: block;
  background-color: rgba(12, 12, 11, 0.432);
  width: 1000px;
  color: #ffffff;
  position: fixed;
  Left: 300px;
  border-radius: 10%;
  top: 50px;
  z-index: 999;
}

.ubica {
  margin-left: 40px;
  margin-top: 10px;
}

.img {
  display: block;
  width: 195px;
  height: 50px;
  columns: #000000;
  position: fixed;
  Left: 62px;
  line-height: 80px;
  text-align: center;
  top: 45px;
  z-index: 999;
}

.texto {
  display: block;
  widows: 70px;
  height: 70px;
  columns: #f36404;
  position: fixed;
  line-height: 80px;
  text-align: center;
  z-index: 999;
  Left: 500px;
}

.texto {
  background-color: #0ff;
  color: #ffffff;
  width: 800px;
  height: 570px;
  top: 50px;
}

.redesss {
  background-color: #070707b2;
  color: #fcfafa;
  font-family: "Arial";
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  font-weight: 200;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  padding-bottom: 29px
}

.redes0 {
  background-color: #000000;
  color: #ffffff;
}

.redes1 {
  background-color: #bd7647;
  color: #ffffff;
}

.redes2 {
  background-color: #f80;
  color: #ffffff;
}

.redes3 {
  background-color: #F4D0A8;
  color: #000000;
}

.redes4 {
  background-color: #8f0;
  color: #ffffff;
}

.redes5 {
  background-color: rgb(167, 117, 61);
  color: #ffffff;
}

.redes6 {
  background-color: #CD5C5C;
  color: #ffffff;
}

.cont {
  background-color: rgb(68, 64, 64);
}

/* stilos de bebdidas */

.bebidas {
  background-color: rgba(255, 136, 0, 0.651);
  font: 20px "Arial";
  color: #ffffff;
  display: block;
  width: 350px;
  height: 200px;
  columns: #000000;
  position: fixed;
  Left: 320px;
  top: 180px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

.bebidas2 {
  background-color: rgba(255, 136, 0, 0.651);
  font: 20px "Arial";
  color: #ffffff;
  display: block;
  width: 250px;
  height: 255px;
  columns: #000000;
  position: fixed;
  Left: 1050px;
  top: 100px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

.bebidas3 {
  background-color: rgba(255, 136, 0, 0.651);
  font: 20px "Arial";
  color: #ffffff;
  display: block;
  width: 250px;
  height: 250px;
  columns: #000000;
  position: fixed;
  Left: 320px;
  top: 90px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

.papas {
  background-color: #c9791d00;
  font: 20px "Proxima nova";
  color: #000000;
  display: block;
  width: 250px;
  height: 150px;
  columns: #000000;
  position: fixed;
  Left: 320px;
  top: 50px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}


.papas1 {
  width: 20%;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 15px -1px #474747;
  box-shadow: 4px 4px 15px -1px #474747;
  background-color: #f4d0a8;
  padding-right: 8px;
  padding-left: 8px;
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 105px;
  width: 250px;
}

.tamal {
  background-color: #F4D0A8;
  font: 20px "Proxima nova";
  color: #ffffff;
  display: block;
  width: 250px;
  height: 0px;
  columns: #000000;
  position: fixed;
  Left: 620px;
  top: 50px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}


.tamal1 {
  width: 20%;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 15px -1px #474747;
  box-shadow: 4px 4px 15px -1px #474747;
  background-color: #f4d0a8;
  padding-right: 8px;
  padding-left: 8px;
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 420px;
  width: 250px;
}

.huma {
  background-color: #F4D0A8;
  font: 20px "Proxima nova";
  color: #ffffff;
  display: block;
  width: 250px;
  height: 0px;
  columns: #000000;
  position: fixed;
  Left: 920px;
  top: 50px;
  text-align: center;
  border: 1%;
  z-index: 999
}



.huma1 {
  width: 20%;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 15px -1px #474747;
  box-shadow: 4px 4px 15px -1px #474747;
  background-color: #f4d0a8;
  padding-right: 8px;
  padding-left: 8px;
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 710px;
  width: 250px;
}

/* quienes somos */

.quienes {
  background-color: #b37247a1;
  color: #ffffff;
  font: 20px "arial";
  display: block;
  width: 450px;
  height: 250px;
  columns: #000000;
  position: fixed;
  Left: 320px;
  top: 70px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

.quienes1 {
  background-color: #b37247a1;
  color: #ffffff;
  font: 20px "arial";
  display: block;
  width: 450px;
  height: 250px;
  columns: #000000;
  position: fixed;
  Left: 320px;
  top: 20px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

.somos {
  background-color: #b37247a1;
  color: #ffffff;
  font: 20px "arial";
  display: block;
  width: 450px;
  height: 200px;
  columns: #000000;
  position: fixed;
  Left: 850px;
  top: 100px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

.sms {
  background-color: #b37247a1;
  color: #ffffff;
  font: 20px "Arial";
  display: block;
  width: 450px;
  height: 200px;
  columns: #000000;
  position: fixed;
  Left: 850px;
  top: 40px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

.sm {
  background-color: #b37247a1;
  color: #ffffff;
  display: block;
  font: 20px "Arial";
  width: 450px;
  height: 200px;
  columns: #000000;
  position: fixed;
  Left: 850px;
  top: 250px;
  text-align: center;
  border-radius: 10%;
  z-index: 999
}

/* menu vertical */

.vertical-menu a {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: block;
  padding: -12px;
  text-decoration: none;
  width: 200px;
  height: 65px;
  font: 20px "Arial";
  
  
}

.vertical-menu a:hover {
  background-color:  #e4480a;
}

.vertical-menu a.active {
  background-color: #e4480a;
  color: white;
}

.vertical-menu a.active2 {
  background-color: #e4480a;
  color: white;
}

.vertical-menu a.active3 {
  background-color:  #e4480a;
  color: #000000;
}

.vertical-menu a.active4 {
  background-color: #e4480a;
  color: white;
}

.vertical-menu a.active5 {
  background-color: #e4480a;
  color: white;
}

.vertical-menu a.active6 {
  background-color: #e4480a;
  color: white;
}

.espacio {
  color: #000000;
}

/*color  */

#item-uno a {
  color: rgb(255, 255, 255)
}

#item-dos a {
  color: rgb(255, 255, 255)
}

#item-tres a {
  color: rgb(255, 255, 255)
}

#item-cuatro a {
  color: rgb(255, 255, 255)
}

#item-cinco a {
  color: rgb(255, 255, 255)
}

#item-seis a {
  color: rgb(255, 255, 255)
}

/* color item  */

#item-uno a:hover {
  background:  #e4480a;
}

#item-dos a:hover {
  background:  #e4480a;
}

#item-tres a:hover {
  background:  #e4480a;
}

#item-cuatro a:hover {
  background:  #e4480a;
}

#item-cinco a:hover {
  background:  #e4480a;
}

#item-seis a:hover {
  background:  #e4480a;
}

/*  */

/* stilos formulario */

.contact_form {
  width: 530px;
  height: auto;
  margin: 300px;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(20, 20, 19, 0.534);
  font: 20px "Proxima nova";
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f80;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f80;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #f80;
  border-color: #f80;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #f80;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #f80;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #f07109;
}

p {
  font-size: 14px;
  color: #ffffff;
}

mensaje {
  font-size: 14px;
  color: #0e0e0e;
  height: 10px;
  top: 0px;
  margin-top: 0px;
  margin-bottom: -20px;
}

enviar {
  font-size: 14px;
  color: #0e0e0e;
  height: 150px;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}
p {
font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode','DejaVu Sans', Verdana, sans-serif;
color: #000000;
}
h1 {
  color: #493f33;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
  text-shadow: -2px -2px;
}
.precio{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align:center ;
  font-weight: bold;
  background-color: #f07109;
  border-radius: 114px;
  width: 74%;
  margin-left: auto;
  margin-right: auto;
}
.h1 {
  color: #493f33;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  text-align: center;
  text-shadow: -2px -2px;
}